/* app/project/project.module.css */

.projectContainer {
    background-color: #131727; /* bg-bg */
    /* padding-top: 0.3rem; py-8 */
    padding-bottom: 2rem;
    color: #eef2ff; /* text-text2 */
  }
  
  .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem; /* pt-4 */
    font-size: 3rem; /* text-5xl */
    font-weight: bold;
    letter-spacing: 0.1em; /* tracking-widest */
    color: #eef2ff; /* text-text2 */
  }

  /* app/project/project.module.css */
@media (max-width: 767px) {
  .projectContainer {
      padding-top: 1rem; /* Adjust padding on mobile */
  }
}
  
  .gridContainer {
    display: grid;
    gap: 2rem; /* gap-8 */
    padding: 1.5rem; /* p-6 */
    grid-template-columns: 1fr; /* grid-cols-1 for mobile */
  
    /* Responsive design for larger screens */
    @media (min-width: 768px) {
      grid-template-columns: 1fr; /* md:grid-cols-1 */
    }
    @media (min-width: 1024px) {
      grid-template-columns: repeat(2, 1fr); /* lg:grid-cols-2 */
    }
  }
  